[submodule "bgfx"]
	path = bgfx
	url = https://github.com/BanMing/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/BanMing/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/BanMing/bimg.git
